.inputFieldContainer{
    height: 50px;
    width: 250px;
    margin-top: 5px;
}
input{
    height: 6vh;
    width: 18vw;
    font-size: 20px;
    padding: 10px;
    background: transparent;
    border: none;

   color:#FFFFFF ;
}

input:focus{
    outline: none;
}