@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

.navbar_container {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0.9px 0.1px 0.1px rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.164);
  position: fixed;
  top: 0;
  z-index: 1;
  text-decoration: dotted;
}
.navlogo {
  cursor: pointer;
  margin-top: 20px;
  color: #b71c1c;
  font-size: 7rem;
  text-shadow: 1rem 1rem 1rem blue;
}
.navlink {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
.link {
  text-decoration: none;
  color: rgb(255, 72, 0);
  font-size: 1.5rem;
  font-size: 2rem;
  font-family: "Macondo", cursive;
}
li .link:hover {
  font-size: 2.2rem;
  color: #e6e6e6;
}
