.navbar_container {
  /* padding: 0;
    margin: 0; */
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0.9px 0.2px 0.2px rgb(117, 112, 112);
  background-color: rgba(255, 255, 255, 0.164);
  position: fixed;
  top: 0;
  z-index: 1;
}
.navlogo {
  margin-top: 20px;
  color: rgba(255, 0, 0, 0.767);
  font-size: 7rem;
}
.navlink {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
.link {
  text-decoration: none;
  color: rgb(255, 251, 0);
  font-size: 1.5rem;
}
