.image {
  max-height: 160%;
  max-width: 160%;
}
.parent {
  display: flex;
  height: max-content;
  width: 30vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow: hidden;
  border: 1px 1px 1px white;
}
.child {
  display: flex;
  height: 35vh;
  min-width: 10vw;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 1px black;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.CarouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.childCarouselContainer {
  display: flex;
  align-items: center;
}
.button1 {
  margin-top: 10px;
  color: #ffffff;
  background-color: #b71c1c;
  height: 50px;
  width: 120px;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  font-family: Poppins;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.button2 {
  margin-top: 10px;
  color: #ffffff;
  background-color: #b71c1c;
  height: 50px;
  width: 120px;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  font-family: Poppins;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.parentCarouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wholeteam {
  margin-top: 10px;
  color: #ffffff;
  background-color: #b71c1c;
  height: max-content;
  width: max-content;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  font-family: Poppins;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.names {
  font-size: 1.3rem;
  color: white;
}

.heading1 {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.heading2 {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.job {
  color: white;
  font-size: 0.6rem;
}
