* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer{
    border: 2px solid;
    background: url("https://s1.dmcdn.net/v/PrHOg1SqcQ70CxHn9/x1080") no-repeat center/cover;
}

.Container1{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.Container2{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    height: 65vh;
}

.box {
    width: 30vw;
    font-size: 20px;
    font-family: 'Hubballi', cursive;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    color: white;
}

.box1 {
    border: 2px solid;
    width: 20vw;
    height: 45vh;
}

.lists {
    width: 25vw;
    height: 45vh;
}

.points {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    color: #0D47A1;
}


.pointsDec {
    list-style: none;
    font-family: 'Hubballi', cursive;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: white;
}

.btn{
    width: 100px;
    height: 40px;
    position: relative;
    top: 35px;
    background-color: #0D47A1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.h1{
    color: #0D47A1;
    margin-bottom: 15px;
}

.video{
    border: 3px solid#EEEEEE;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 526px;
    height: 256px;
}

.iframe{
    border-radius: 15px;
}