.myImage {
  max-height: 100%;
  max-width: 100%;
}
.imageContainer {
  height: max-content;
  width: 100vw;
  overflow: hidden;
}
.imageText {
  position: absolute;
  top: 25%;
  left: 4%;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 2px black;
}
