*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    background: url("https://media.istockphoto.com/id/924276620/photo/blurred-background-gym-workout-with-no-people.jpg?s=612x612&w=0&k=20&c=3NDrt7duUoTuhcyM8-a1ih98m2oXD-QFrmIvD3rC4Vg=") no-repeat center/cover;
}

.innerBox2{
    width: 50vw;
    height: 60vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    bottom: 3.5rem;
}

.img {
width: 50vw;
height: 60vh;
border-radius: 2rem;   
}

.h2{
    position: relative;
    top: 13rem;
    color: red;
}

